section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    margin-top: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    padding: 0.5rem;
    background-color: #012340;
    color: #7C9EA6;
    margin-left: auto;
    margin-right: auto;
}

.task{
    text-align: start;
    padding: 0.5rem 0;
    max-width: 16rem;
    word-wrap: break-word;
}

.deadline{
    text-align: start;
    padding: 0.1rem 0;
}